*.tgz
*.zip
*.pyc
*.iml
*.log
venv/
downloads/
.idea/
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
tmp/
settings.xml
target/
old_site/
node_modules/
volumes/
*.tar.gz
*.tar.xz
*.sqlite3
