*.tgz
*.zip
*.pyc
*.iml
venv/
downloads/
.idea/
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
tmp/
discovery-service/tmp/
settings.xml
joynr-generator/js-generator/
joynr-generator/tmp/
target/
joynr-generator/workspace/
old_site/
node_modules/
volumes/
*.tar.gz
*.tar.xz
*.sqlite3
